.about{
    display: flex;
    height: 450px;
}

.title_about{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-top: 120px;
    margin-left: 40px;
    font-family: "Fraunces", sans-serif;

}
.second_about{
    display: flex;
    margin-top: 120px;
    margin-left: 150px;
} 
.second_block, .third_block{
    margin-left: 32px;
}
.title_block{
    font-size: 25px;
    line-height:31px ;
    letter-spacing: 0.2px;
    font-family: "Fraunces", serif;
    position: relative;
    bottom: 10px;
}
.description_block{
    font-size: 16px;
    line-height:24px ;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    position: relative;
    bottom: 20px;
    font-weight: 300;
}