
.companies_info{
font-size: 24px;
letter-spacing: 0.2px;
line-height: 37.5px;
text-align: center;
font-family: "Inter", sans-serif;
margin-top: 120px;
}
.images_companies{
text-align: center;
}
.images_companies img{
    margin-left: 15px;
}