.footer{
    width: 1230px;
    height: 352px;
    background-color: white;
    margin-top: 100px;
}
.logo_footer{
    margin-left: 40px;
}
.blue_footer{
   color: #0070A0 ;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   cursor: pointer;
}
.footer p{
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;  
}
.block1{
    display: flex;
    position: relative;
    bottom: 130px;
    margin-left: 470px;
}
.block_footer1{
    margin-top: 30px;
}
.block_footer2{
    margin-left: 100px;
    margin-top: 30px;
}
.block_footer3{
    margin-left: 100px;
    margin-top: 30px;
}
.footer_firstli{
    list-style: none;
    background-image: none;
    color: black;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif; 
}
.footer_li{
    list-style: none;
    background-image: none;
    color: #626A72;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif; 
    margin-top: 10px;
    cursor: pointer;
}
.footer_li3{
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}
.input_footer{
    width: 216px;
    height: 44px;
    border: none;
    border-bottom: 1px solid #C2CDD8;
}
.arrow_footer{
    position: relative;
    right: 25px;
    top: 9px;
    cursor: pointer;
}
.line{ 
    width: 99%;
    height: 1px;
    background-color: #c6cace;
    position: relative;
    right: 8px;
    bottom: 60px;
}
.last_text{
    font-size: 13px;
   line-height: 20px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif; 
   position: relative;
   bottom: 30px;
}
.last_child{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.icons_footer{
    justify-content: space-between;
    position: relative;
   bottom: 20px;
   margin-left: 450px;
   margin-right: 40px;
}
.image_icons{
    padding-right: 20px;
    
}