.header{
    margin: 0 auto;
    width: 1130px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline;
    font-size: 37px;
    margin-right: 10px;
}
nav{
    display: flex;
    
}

.menu{
     display: flex;
     list-style: none;
     cursor: pointer;
     width: fit-content;
     margin-left: 44px;
     
}

.navigation li{
    margin-right: 24px;
    font-size: 15px;
    font-family: "Inter", sans-serif; 
    margin-top: 35px;  
    text-decoration: none;
 transition: 0.1s ease;
}
.navigation li:hover{
    text-decoration: 2px underline;
    text-decoration-color: #0070A0;
}
.button_sign{
    width: 89px;
    height: 46px;
    color: #0070A0;
    background-color: white;
    border: none;
    cursor: pointer;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: 0.2px;
    margin-top: 3px;
    font-family: "Inter", sans-serif;
    transition: 0.5s;
}
.button_sign:hover{
    color: black;
    
}
.button_demo{
    width: 139px; 
    height: 46px;
    background-color: #0070A0;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: 0.2px;
    margin-top: 3px;
    font-family: "Inter", sans-serif;
    transition: 1s;
}
.button_demo:hover{
   color: black;
}