.title_tasks{
   font-size: 42px;
   line-height: 50px;
   letter-spacing: 0.2px;
   font-family: "Fraunces", sans-serif; 
   margin-top: 120px;
   margin-left: 40px;
} 
.subtitle_tasks{
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif; 
   margin-left: 40px;
   position: relative;
   bottom: 15px;
}
.block_tasks{
    display: flex;
    justify-content: space-between;
    margin: 55px 40px 0 40px;
}
.title_info{
   font-size: 25px;
   line-height: 31px;
   letter-spacing: 0.2px;
   font-family: "Fraunces", sans-serif; 
   position: relative;
   bottom: 45px; 
} 
.description_info{
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif; 
   position: relative;
   bottom: 55px;
}