.title{
    text-align: center;
}
.subtitle{
    text-align: center;
    font-style: italic;
   
}
.description{
    font-size: 15px;
    font-style: italic;
}

.table{
    border: 1px solid rgb(146, 146, 146);
}
.title-table{ 
    font-style: italic;
}
td{
    border: 1px solid black;
    text-align: center;
}
