.section1{
    display: flex; 
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.section1__description{
    width: 540px;
    height: 330px;
    margin-top: 60px;
    margin-left: 30px;

}
.section1 img{
    width: 540px;
    height: 621px;
    margin-left: 165px;
}
.section1 h1{
    font-size: 60px;
    font-family: "Raleway-Medium";
    line-height: 110%;
    color: var(--text-one-color);
    font-weight: 500;
}
.section1 span{
    color: var(--text-three-color);
}
.section1 p{
    font-size: 18px;
    font-family: "Raleway-Medium";
    line-height: 150%;
    color: var(--text-two-color);
    font-weight: 500;
    margin-top: 20px;
}
.section1__button{
    width: 225px;
    height: 65px;
    font-size: 20px;
    font-family: "Raleway-Medium";
    line-height: auto;
    color: var(--text-three-color);
    font-weight: 500;
    border: none;
    border: 1px solid var(--text-three-color);
    margin-top: 60px;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        background-color: var(--baground-two-color);
        color: var(--text-six-color);
    }
    &:active{
        background-color: var(--baground-one-color);
        color: var(--text-six-color);
    }
    &:focus{
        background-color: var(--baground-three-color);
        color: var(--text-three-color);
    }
}

@media (max-width: 768px) {
    .section1 img {
        width: 330px;
        height: 380px;
        margin-left: 39px;
    }
    
    .section1__description {
        margin-left: 30px;
        margin-top: 35px;  
        & h1{
            font-size: 40px;
        } 
    }
}
@media (max-width: 680px) {
    .section1 img {
        width: 195px;
        height: 230px;
        margin-left: 33px;
        margin-top: 50px;
    }
    
    .section1__description {
        margin-left: 30px;
        margin-top: 35px;  
        & h1{
            font-size: 36px;
        } 
        & p{
            max-width: 250px;
            font-size: 16px;
           white-space: nowraap;
        }
    }
    & button{
        max-width: 178px;
        max-height: 50px;
        margin-top: 11px !important; 
    }
    
}
@media(max-width:320px){
    .section1 img{
        display: none;
    }
}