:root {
    --text-one-color: #2C2D35;
    --text-two-color: #86928B;
    --text-three-color: #598D66;
    --text-four-color: #376B44;
    --text-five-color: #FFFFFF;
    --text-six-color: #F4F6F5;
    --baground-one-color: #376B44;
    --baground-two-color: #598D66;
    --baground-three-color: #D4E8D9;
    --baground-four-color: #E1EDE6;
    --baground-five-color: #FFFFFF;
    --baground-six-color: #EEDB6D;
    --baground-seven-color: #FAEB97;
    --baground-eight-color: #A38314;
    --baground-nine-color: #D9B949;
}
