.faq{
    width: 1220px;
    height: 694px;
    background-color: #F7F9FA;
    position: relative;
    right: 10px;
    display: flex;
}
.title_faq{
   padding-top: 60px;
   padding-left: 40px;
   font-size: 39px; 
   font-family: "Fraunces", serif;
}
summary{
    list-style: none;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-family: "Fraunces", serif;
    
}
details{
    border-top: 1px  solid #aaa;
    width: 280px;
    position: relative;
    top: 25px;
    margin: 18px 18px 18px 40px;
    cursor: pointer;
}
.text_faq{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    font-family: "Inter", sans-serif;
    font-weight: 250;
}
.image_faq{
    position: relative;
    top: 9px;
}
.arrow_faq{
   float: right;
   margin-top: 22px;
}
.imgmain_faq{
    margin-top: 120px;
}