.info_main{
    margin: 0 auto;
    margin-top: 70px;
    width: 1130px;
    display: flex;
    justify-content: space-between;
}
.title_info{
    font-size: 56px;
    line-height: 63.8px;
    font-family: "Fraunces", serif;
    letter-spacing: 0.2px;
    margin-top: 55px;
}
.description_info{
    font-size: 20px;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 35px;
   
}
.button1_info{
    width:174px ;
    height: 43px;
    background-color: #0070A0;
    color: #fff;
    border: none;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    line-height:27px;
    letter-spacing: 0.2px;
    font-weight: 550;   
    position: relative;
    bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.button1_info:hover{
    color: black;

}
.button2_info{
    width:174px ;
    height: 43px;
    background-color: white;
    color: #0070A0;
    border: none;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    line-height:27px;
    letter-spacing: 0.2px;
    font-weight: 550; 
    position: relative;
    bottom: 30px;    
    cursor: pointer;
}
