.posts{
    width: 1220px;
    height: 900px;
    background-color: #E6F7FF;
    position: relative;
    right: 10px;
}
.info_posts{
    padding-top: 40px;
    margin-left: 25px;
    margin-right: 80px;
    display: flex;
justify-content: space-between;
}
.title_posts{
    font-size: 42px;
   line-height: 50px;
   letter-spacing: 0.2px;
   font-family: "Fraunces", serif;
   margin-left: 20px;

}
.see_all{
    font-size: 17px;
   line-height: 27px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   color: #0070A0;
   margin-left: 400px;
   margin-top: 40px;
   transition: 0.5s;
   cursor: pointer;
}
.see_all:hover{
    color: black;
    transform: scale(1.1);
}
.posts_block{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 15px;
}
.container{
    width: 355px ;
    height: 490px ;
    background-color: white;
    margin-left: 40px;
    margin-right: -10px;
}
.image_posts{
    width: 355px;
    height: 243px;
}
.improve{
    width:122px ;
    height: 22px;
    background-color: #b8e5ff;
    text-align: center;
    color: #2C90C9;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
}
.titles_posts{
    font-size: 25px;
   line-height: 31px;
   letter-spacing: 0.2px;
   font-family: "Fraunnces", serif;
   margin-left: 24px;
   font-weight: 500;
   position: relative;
   bottom: 15px;
}
.description_posts{
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   font-weight: 250;
   margin-left: 24px; 
   position: relative;
   bottom: 25px; 
}
.date_posts{
   font-size: 12px;
   line-height: 20px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   margin-left: 24px;
    position: relative;
   bottom: 30px; 
}