.advantages{
    display: flex;
    justify-content: space-between;
    margin: 160px 40px 120px 40px;
}
.advantages_block1{
    width: 355px ;
    height:250px ;
    background-color: #FAEA73;
}
.advantages_block2{
    width: 355px ;
    height:250px ;
    background-color: #CCEFF6;
}.advantages_block3{
    width: 355px ;
    height:250px ;
    background-color: #F7CEDC;
}
.image_block1, .image_block2,.image_block3 {
    margin: 32px 0 0 32px ;
}
.title_block1, .title_block2, .title_block3{
    font-size: 25px;
    line-height:31px;
    letter-spacing: 0.2px;
    margin-left: 32px;
    position: relative;
    bottom: 5px;
    font-family: "Fraunces", serif;
}
.text_block1, .text_block2, .text_block3{
    font-size: 15px;
    line-height:24px;
    letter-spacing: 0.2px;
    margin-left: 32px;
    position: relative;
    bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
