.start_block{
    width:1100px ;
    height: 470px;
    background-color: white;
}
.started{
    width: 1080px;
    height: 370px;
    margin: 80px 40px;
    padding-left: 64px;
    padding-top: 65px;
    background-color: #E6F7FF;
}
.title_start{
   font-size: 42px;
   line-height: 50px;
   letter-spacing: 0.2px;
   font-family: "Fraunnces", serif;
}
.description_start{
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   position: relative;
   bottom: 25px;
}
.button_start{
   font-size: 16px;
   line-height: 27px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   background-color: #0070A0;
   border: none;
   color: white;
   width: 174px;
   height: 43px;
   position: relative;
   bottom: 10px;
   transition: 0.5s;
   cursor: pointer;
} 
.button_start:hover{
    color: black;
}
.startul{
    display: flex;
}
.start1, .start2{
   color: #626A72;
   font-size: 13px;
   line-height: 21px;
   letter-spacing: 0.2px;
   font-family: "Inter", sans-serif;
   margin-top: 20px;
   list-style-type: none;
   background-image: url(/images/IMAGEblue_strelka.png); 
    background-repeat: no-repeat;
    padding-left: 30px;
    
}
.start2{
    margin-left: 40px;
}

